<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PITtoV</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="mainSection">
        <div class="header">PDF , IMAGE & TEXT TO VOICE</div>
        <div class="message"><p><%- message %></p></div>
        <div class="formSection">
            <form action="/" method="POST" enctype="multipart/form-data">
                <button class="play_btn" value="play" name="play">play</button> 
                <button class="stop_btn" value="stop" name="stop">stop</button>
                <input class="file_choose" type="file" name="file">
                <input class="submit" type="submit" name="submit" value="upload">
            </form>
            </form>
        </div>
    </div>   
</body>
</html>